{% extends "base.html" %} {% block content %}
<h2>Cadastro</h2>
<div class="col-md-4 col-md-offset-4">
  <form action="" method="POST" enctype=multipart/form-data>
    {{ form.csrf_token }}
    <div class="form-group">
      <label>Nome do prato</label>
      {{ form.name(class="form-control", placeholder="Feijão tropeiro") }}
    </div>
    <div class="form-group">
      <label>Preço</label>
      {{ form.price(class="form-control", placeholder="10.00") }}
    </div>
    <div class="form-group">
      <label>Igredientes</label>
      {{ form.ingredients(class="form-control", placeholder="Arroz, Feijão,
      Farofa, ...") }}
    </div>
    <div class="form-group">
      <label>Foto</label>
      {{ form.image(class="form-control") }}
    </div>
    <div class="form-group">
      <label>Serve quantas pessoas</label>
      {{ form.serves(class="form-control", placeholder="1") }}
    </div>
    <div class="form-group">
      <label>Número de vezes pedido</label>
      {{ form.number_asked(class="form-control", placeholder="0") }}
    </div>
    <button type="submit" class="btn btn-default">Cadastrar</button>
  </form>
</div>
{% endblock %}
